@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap');

body{
    background-color:#FBB03B;
    color: white;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
#content{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
   
}
h3{
    font-size: 4vh;
    margin: 5vh 0;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
    
}
.caixa h4{
    font-size: 3vh;
    margin: 0;
    font-weight: 600;
    margin-top: 10%;
}
.caixa p{
    font-size: 2vh;
    padding: 0;
    margin-top: 15%;

    font-weight: 600;
  
}
.caixa{
    display: flex;
    width: 40vw;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: #AD43C9 2px solid;
    margin-top: 3vh;

}
.button{
    margin-bottom: 10%;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BA80C9;
    font-weight: 800;
    text-transform: uppercase;
    width: 30vw;
    height: 15vh;
    clip-path: polygon(15% 25%, 85% 25%, 100% 50%, 85% 75%, 15% 75%, 0 50%);
 
} 

a.button{
    color: white;
    text-decoration: none;

}